.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fundoVazado01 {
  background-image: url("./images/redes_neurais-artificiais.jpg");
  background-size: 100%;
  background-position: center center;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
 /* background-attachment: fixed;
  ;
  margin-bottom: 25px;
  border-radius: 10px;*/

}

.fundoVazado02 {
  background-image: url("./images/minhExtra.png");
  background-size: 100%;
  background-position: center center;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
 /* background-attachment: fixed;
  ;
  margin-bottom: 25px;
  border-radius: 10px;*/

}
.fundoVazado03 {
  background-image: url("./images/MinhaExperiencia.png");
  background-size: 130%;
  background-position: center center;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
 /* background-attachment: fixed;
  ;
  margin-bottom: 25px;
  border-radius: 10px;*/
}
.heigthContainer{
  height: 100%!important;
}
.navtransparente{
  background-color: transparent!important;
}

.headerbackgoung{
  background-color: #042cf3 !important;
}
.cor2{
  background-color: #282f38
}

.margemTzero{
  margin-top: -600px!important;
}
.footerbackground{
  background-color: #070d12!important;
}
.margemTopFooter{
  margin-top: 1200px!important;
}
.espacamentoTopo{

  margin-top: 45px;
}
.espacamentoTopo15 {

  margin-top: 15px;
}
.espacamentoTopo10{
  margin-top: 10px;
}
